<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBestellungverwaltung" />
                <binding name="BasicHttpBinding_IBenutzerverwaltung" />
                <binding name="BasicHttpBinding_IAnmeldungsfunktion" />
                <binding name="BasicHttpBinding_IWarenverwaltungService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55064/Bestellungverwaltung.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBestellungverwaltung"
                contract="BestellungServiceReference.IBestellungverwaltung"
                name="BasicHttpBinding_IBestellungverwaltung" />
            <endpoint address="http://localhost:55064/Benutzerverwaltung.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBenutzerverwaltung"
                contract="BenutzerverwaltungServiceReference.IBenutzerverwaltung"
                name="BasicHttpBinding_IBenutzerverwaltung" />
            <endpoint address="http://localhost:55064/Anmeldungsfunktion.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAnmeldungsfunktion"
                contract="AnmeldungsfunktionServiceReference.IAnmeldungsfunktion"
                name="BasicHttpBinding_IAnmeldungsfunktion" />
            <endpoint address="http://localhost:55064/WarenverwaltungService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarenverwaltungService"
                contract="WarenverwaltungServiceReference.IWarenverwaltungService"
                name="BasicHttpBinding_IWarenverwaltungService" />
        </client>
    </system.serviceModel>
</configuration>